<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="petStore.utilities.ExtentListenerClass"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/yaseenkalo/Documents/automationProject/petStoreAutomation" time-out="6000">
        <classes>
<!--           <class name="petStore.testcases.UserTest">
                <methods>
                    <include name="testCreateUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>-->
            <class name="petStore.testcases.UserTestDataDriven">
                <methods><include name="testCreateUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
            <class name="petStore.testcases.StoreTestDataDriven">
                <methods><include name="testGetInventory"/>
                    <include name="testCreateOrder"/>
                    <include name="testGetOrder"/>
                    <include name="testDeleteOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>